<p-card>
    <div *ngIf="client" class="grid">

        <div class="col-12">
            <h3 class="text-base text-700 my-0 font-normal">
                Datos Facturación
            </h3>
            <hr>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Grupo empresarial o categoria cliente</span>
            <span class="col-6 font-semibold">{{client.descripcionGrupoEmpresarial}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Sector Económico</span>
            <span class="col-6 font-semibold">{{client.descripcionCodigoSector}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Moneda</span>
            <span class="col-6 font-semibold">{{client.descripcionTipoMoneda}}</span>
        </div>

        <div class="col-12 py-3">
            <h3 class="text-base text-700 my-0 font-normal">
                Datos operativos
            </h3>
            <hr>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Código Unico</span>
            <span class="col-6 font-semibold">-</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Tipo Doc</span>
            <span class="col-6 font-semibold">{{client.descripcionTipoDocumentoIdentidad}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">{{client.descripcionTipoDocumentoIdentidad}}</span>
            <span class="col-6 font-semibold">{{client.numeroDocumentoIdentidad}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Teléfono</span>
            <span class="col-6 font-semibold">{{client.telefono}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Razón social</span>
            <span class="col-6 font-semibold">{{client.razonSocial}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Holding</span>
            <span class="col-6 font-semibold">{{client.descripcionHolding}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Nombre Comercial</span>
            <span class="col-6 font-semibold">{{client.nombreComercial}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Autoriza FEDEX</span>
            <span class="col-6 font-semibold">-</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Cuenta FEDEX</span>
            <span class="col-6 font-semibold">-</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Segmentación</span>
            <span class="col-6 font-semibold">{{client.descripcionCodigoSegmentacion}}</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Comentarios</span>
            <span class="col-6 font-semibold">{{client.comentario}}</span>
        </div>

        <!-- Datos adicionales -->
        <div class="col-12 md:col-12 flex mt-3 p-0">
            <button pButton pRipple label="Datos Adicionales" class="p-button-text text-700 font-bold"
                icon="pi pi-angle-{{ isVisibleAdditionalData ? 'up' : 'down' }}" iconPos="right"
                (click)="toggleAdditionalData()"></button>
        </div>

        <ng-container *ngIf="isVisibleAdditionalData">
            <div class="col-12 flex">
                <div class="col-3 field-checkbox py-0">
                    <p-checkbox [(ngModel)]="isClientChecked" [binary]="true" inputId="clientes"></p-checkbox>
                    <label for="clientes">Clientes</label>
                </div>

                <div class="p-checkbox p-component p-checkbox-checked"></div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="almacen" value="" inputId="almacen"></p-checkbox>
                    <label for="almacen">Almacen</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="agencia" value="" inputId="agencia"></p-checkbox>
                    <label for="agencia">Agencia Aduanas</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="transporte-aereo" value="" inputId="transporte-aereo"></p-checkbox>
                    <label for="transporte-aereo">Transporte Aereo</label>
                </div>
            </div>

            <div class="col-12 flex">
                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="consignatario" value="" inputId="consignatario"></p-checkbox>
                    <label for="consignatario">Consignatario</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="transporte-maritimo" value="" inputId="transporte-maritimo"></p-checkbox>
                    <label for="transporte-maritimo">Transporte Maritimo</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="shipper" value="" inputId="shipper"></p-checkbox>
                    <label for="shipper">Shipper</label>
                </div>

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="visto" value="" inputId="visto"></p-checkbox>
                    <label for="visto">Para visto bueno</label>
                </div>
            </div>

            <div class="col-12 flex">

                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="esporadico" value="" inputId="esporadico"></p-checkbox>
                    <label for="esporadico">Esporadico</label>
                </div>
                <div class="col-3 field-checkbox py-0">
                    <p-checkbox name="relacionado" value="" inputId="relacionado"></p-checkbox>
                    <label for="relacionado">Relacionado</label>
                </div>

            </div>
        </ng-container>

        <div class="col-12 text-center pt-4">
            <button pButton class="b-primary px-5" icon="pi pi-pencil" (click)="showModalUpdateClient()"
                label="Actualizar cliente">
            </button>
        </div>

    </div>
</p-card>