<p-card>
    <div class="grid">

        <div class="col-12">
            <h3 class="text-base text-700 my-0 font-normal">
                Contactos relacionados
            </h3>
            <hr>
        </div>

        <ng-container *ngFor="let contact of lContacts">

            <div class="col-12 flex">
                <span class="col-6 font-semibold">Contacto N° {{contact.id}}</span>
                <div class="col-6 text-base text-right">
                    <button (click)="showModalUpdateContact()" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-text text-500"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text text-500"></button>
                </div>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Área Contacto</span>
                <span class="col-6 py-0 font-semibold">{{contact.areaContacto_parametro}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Tipo Contacto</span>
                <span class="col-6 py-0 font-semibold">{{contact.tipoContacto_parametro}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Nombre</span>
                <span class="col-6 py-0 font-semibold">{{contact.nombreCompleto}}</span>
            </div>

            <!-- <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Teléfono</span>
                <span class="col-6 py-0 font-semibold">{{contact.phone}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Correo</span>
                <span class="col-6 py-0 font-semibold">{{contact.email}}</span>
            </div> -->

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Comentarios</span>
                <span class="col-6 py-0 font-semibold">{{contact.comentario}}</span>
            </div>

            <!-- <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Estado</span>
                <span class="col-6 py-0 font-semibold">{{contact.status}}</span>
            </div> -->

        </ng-container>

        <div class="col-12 text-center pt-5">
            <button pButton class="b-secondary px-5" icon="pi pi-user" (click)="showModalRegisterContact()"
                label="Agregar Contacto">
            </button>
        </div>

    </div>
</p-card>