<div class="grid px-4 md:px-8">

    <h3 class="col-12 text-center text-xl">
         
        <span class="text-center text-xl text-700">Mantenimento de Sociedades</span>
    </h3>

    <div class="col-12 md:col-4 md:col-offset-4 justify-content-center flex flex-column align-items-center">
        <span class="p-float-label p-input-icon-right w-full">
            <i class="pi pi-search"></i>
             
            <label>BUSCAR EMPRESA</label>
        </span>
    </div>


    <div class="col-12 flex flex-column align-items-center">

     
    </div>

  

</div>