<p-card>
    <div class="grid">

        <ng-container *ngFor="let direction of lAddress; let i = index">
            <div class="col-12">
                <h3 class="text-base text-700 my-0 font-normal">
                    Dirección fiscal Nº {{i + 1}}
                </h3>
                <hr>
            </div>

            <!-- <div class="col-12 flex">
                <span class="col-6 font-semibold">Dirección 1</span>
                <div class="col-6 text-base text-right">
                    <button (click)="showModalUpdateDirection()" pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-text text-500"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text text-500"></button>
                </div>
            </div> -->

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Dirección</span>
                <span class="col-6 py-0 font-semibold">{{direction.direccion}}</span>
            </div>

            <!-- <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Código Postal</span>
                <span class="col-6 py-0 font-semibold">{{direction.postalCode}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Ubigeo</span>
                <span class="col-6 py-0 font-semibold">{{direction.ubigeo}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Provincia</span>
                <span class="col-6 py-0 font-semibold">{{direction.province}}</span>
            </div> -->

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Tipo Direccion</span>
                <span class="col-6 py-0 font-semibold">{{direction.tipoDireccion_parametro}}</span>
            </div>

            <!-- <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">País</span>
                <span class="col-6 py-0 font-semibold">{{direction.country}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Estado</span>
                <span class="col-6 py-0 font-semibold">{{direction.status}}</span>
            </div>

            <div class="col-12 md:col-6 flex">
                <span class="col-6 py-0 text-500">Distrito</span>
                <span class="col-6 py-0 font-semibold">{{direction.district}}</span>
            </div> -->

        </ng-container>

        <div class="col-12 text-center pt-5">
            <button pButton class="b-secondary px-5" icon="pi pi-map-marker" label="Agregar Dirección"
                (click)="showModalRegisterDirection()">
            </button>
        </div>

    </div>

</p-card>