<div class="grid px-4 md:px-8">

    <h3 class="col-12 text-center text-xl">
        Hola,
        <span class="text-center text-xl text-700">Elver Gonzales Parodi</span>
    </h3>

    <div class="col-12 md:col-4 md:col-offset-4 justify-content-center flex flex-column align-items-center">
        <span class="p-float-label p-input-icon-right w-full">
            <i class="pi pi-search"></i>
            <input [formControl]="filtro" class="search w-full" pInputText>
            <label>BUSCAR CLIENTE</label>
        </span>
    </div>

    <div class="field col-12 text-center">
        <button pButton (click)="registerClient()" class="b-primary px-5 py-2" label="Crear Cliente">
        </button>
    </div>

    <div class="col-12">
        <span>{{mensaje}}</span>
    </div>

     
    <div class="col-12 flex flex-column align-items-center">

        <p-card *ngFor="let client of lClientsChunk | filterPipe: filtro.value" class="m-2 w-full">
            <div class="grid">

                
                <!-- Point Active -->
                <div class="col-12 md:col-1 flex justify-content-center align-self-center">
                    <div class="point-active"></div>
                </div>

                <!-- Codigo Unico -->
                <div class="col-12 md:col-3">
                    <span class="text-500">Código único</span>
                    <div class="font-semibold">{{client.id}}</div>
                </div>

                <!-- RUC -->
                <div class="col-12 md:col-3">
                    <span class="text-500">Numero de Documento</span>
                    <div class="font-semibold">{{client.numeroDocumentoIdentidad}}</div>
                </div>

                <!-- Razon Social -->
                <div class="col-12 md:col-3">
                    <span class="text-500">Razon Social</span>
                    <div class="font-semibold">{{client.razonSocial}}</div>
                </div>

                <!-- Options -->
                <div class="col-12 md:col-2 text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text text-500"
                        (click)="getClientById(client.id)"></button>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text text-500"></button> -->
                </div>

            </div>
        </p-card>
        <div class="col-12 pt-4 flex justify-content-end">
            <p-paginator [rows]="4" [totalRecords]="lClients.length" (onPageChange)="paginate($event)"></p-paginator>
        </div>
    </div>

</div>