<p-card>
    <div class="grid">

        <div class="col-12">
            <h3 class="text-base text-700 my-0 font-normal">
                Linea de créditos
            </h3>
            <hr>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Grupo empresarial o categoria cliente</span>
            <span class="col-6 pl-5 font-semibold">Grupo empresarial</span>
        </div>

        <div class="col-12 md:col-6 flex">
            <span class="col-6 text-500">Grupo empresarial o categoria cliente</span>
            <span class="col-6 pl-5 font-semibold">Grupo empresarial</span>
        </div>

    </div>
</p-card>
